<!DOCTYPE html>
<html lang="en" ng-app="spaceway-app">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<!--DEFAULT STYLE-->
	<!-- <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="/css/lib/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/common.css">
</head>
<body ng-cloak>
	<%if (locals.header) { %>
		<%- include('partials/' + header) %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>
	<div class="<%= locals.confluid ? 'container-fluid' : 'container' %>">
		<div class="page-header">
			<div class="row">
				<br>
				<div class="col-lg-12">
					<%if (locals.errors) { %>
					<div class="alert alert-danger">
						<% errors.forEach(function(error) { %>
						<p>• <%=error.message%></p>
						<% }) %>
					</div>
					<% } %>
				</div>
				<%- include('pages/' + page, {test: 'testing'}) %>
			</div>
		</div>
		<%- include('partials/footer') %>
	</div>
	<!--DEFAULT SCRIPT-->
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/angular/angular.min.js"></script>
	<script type="text/javascript" src="/js/common.js"></script>
	<script type="text/javascript" src="/js/ng/app.js"></script>
	<!--PAGE SCRIPT -->
	<% if (locals.js) { %>
		<% locals.js.forEach(function(script) { %>
	<script type="text/javascript" src="<%=script%>"></script>
		<% }) %>
	<% } %>
</body>
</html>