<div ng-controller="chat">
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Onlines
			</div>
			<div class="panel-body">
				<div class="list-group" id="chat-online-list">
				  <a href="javascript:void(0);" class="list-group-item online-chat"
				  		ng-repeat="(key, person) in onlines" 
				  		ng-click="choosePerson(person)">
							{{person.firstname}}
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="chat-title">Please choose some to send chat</span>
				<div class="pull-right">
					<a href="#" class='chat-video'>video</a> | 
					<a href="#" class='chat-delete'>delete</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div style="height: 450px;" class="col-md-12 chat-conversation">
						<div class='row' ng-repeat="(key, message) in bodyMessage">
							<div class='col-md-1 {{message.position}}'>
								<h4>{{message.from}}</h4>
							</div>
							<div class='col-md-10 pull-{{message.position}} text-{{message.position}}'> 
								<div class="bubble">
									<p>"{{message.body}}"</p>
									<span>-</span> <small>{{message.date | date:'medium'}}</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-10">
						<textarea class="chat-body form-control" rows="2" ng-model="body" ng-disabled="isChatDisable" ng-enter-key>
						</textarea>
					</div>
					<div class="col-sm-2">
						<button type="submit" ng-click="sendChat()" class="btn btn-lg col-xs-12 btn-primary chat-send" ng-disabled="isChatDisable">SEND</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- hiddens -->
<input type="hidden" id="user-id" value="<%=user.id%>">
<input type="hidden" id="user-firstname" value="<%=user.first_name%>">