<div class="col-lg-12">
	<h2>Contacts</h2>
	<hr>
	<div class="row">
		<div class="col-lg-4" style="border-right: 1px solid #eee">
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			</div>
		</div>
		<div class="col-lg-8">
			<!-- search of view details of contact -->
			<div class="row">
				<div class="col-md-4">
					<img src="http://placehold.it/250x150" alt="">
					<h5>Name Ni niya</h5>
				</div>
				<div class="col-md-8">
					<p>age : 15</p>
					<p>address : kjwhdjwahdjhawd</p>
					<p>gender : male</p>
					<p>email : wajdhaw@dwad.com</p>
				</div>
			</div>
		</div>
	</div>	
</div>