<div class="col-lg-12">
	<div class="row">
		<div class="col-lg-12">
			<input type="text" class="form-control" placeholder="search">
			<hr>
		</div>
		<div class="col-lg-8">
			<h4>List of friends</h4>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
			<a href="#"><img src="http://placehold.it/150x150" alt=""></a>
		</div>
		<div class="col-lg-4">
			<h4>Activities</h4>
			<div class="list-group">
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			  <a href="#" class="list-group-item">
			    <h4 class="list-group-item-heading">List group item heading</h4>
			    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
			  </a>
			</div>
		</div>
	</div>
</div>